/* 12.25 learn seahub */
.group-mumber-list {
  box-sizing: border-box;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: auto;
  vertical-align: middle;
  text-align: center;
  opacity: 0;
  cursor: pointer;
  margin-left: 5px;
}